body {
    background-color: #fff;
    text-shadow: none;
    color: #777;
}

.site-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.table-responsive {
    border: none;
}
.table>thead>tr>th {
    vertical-align: inherit;
    border-bottom: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>th {
    border-top: none;
}

.cover tr {
    font-size: 5.5em;
    color: rgba(0, 75, 136, 0.5);
}

.cover tr td, .cover tr th {
    border-left: 1px solid #ccc;
    color: #004b88;
    width: 25%;
}

.cover tr td:first-child, .cover tr th:first-child {
    border-left: none;
}

.cover tr th {
    font-size: 0.3em;
    text-align: center;
    font-weight: lighter;
}


#logo-rio {
    width: 50%;
    margin-bottom: 3.5em;
}

.countdown-mob, .thead-mob {
        display: none;
    }

    .countdown-dsk {
        display: table-row;
    }

    .thead-dsk {
        display: table-header-group;
    }

@media (max-width: 768px) {
    .site-wrapper-inner {
        vertical-align: middle;
    }
}

@media (max-width: 525px) {
    .countdown-dsk, .thead-dsk {
        display: none;
    }

    .countdown-mob {
        display: table-row;
    }

    .thead-mob {
        display: table-header-group;
    }
    
    .thead-mob:nth-of-type(2) {
        border-top: 1px solid #ccc;
    }
    .cover tr td, .cover tr th {
        width: 50%;
    }

    .cover tr th:nth-child(odd), .cover tr td:nth-child(odd) {
        border-left: none;
    }

}
