body {
    background-color: #fff;
    text-shadow: none;
    color: #777;
}

.site-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.table-responsive {
    border: none;
}

.table>tbody>tr>td {
    border-top: none;
}

.cover tr {
    font-size: 5.5em;
    color: rgba(0, 75, 136, 0.5);
}

.cover tr:first-child {
    font-size: 2em;
    font-weight: lighter;
}

.cover tr td {
    border-left: 1px solid #ccc;
    color: #004b88;
}

.cover tr td:first-child {
    border-left: none;
}


#logo-rio {
    width: 50%;
    margin-bottom: 3.5em;
}

@media (min-width: 768px) {
    .masthead, .mastfoot, .cover-container {
        width: 80%;
    }
}
